<div class="container m-4">

<div class="row">

  <div class="col-3">
    <h3>Todo:</h3>
    <ul>
      <li>Make the game ending</li>
      <li>Add the mine indicator</li>
    </ul>
  </div>
  <div *ngIf="minesInfo && viewModel" class="col-9">
    <table class="minesTable mx-auto">
        <tr *ngFor="let i of heightArray">
          <th *ngFor="let j of widthArray" 
          class="mine {{minesInfo.mines[i][j].bgColor}} text-center no-select" 
          (click)="onClick(i, j)" (dblclick)="onDbClick(i, j)"
          (contextmenu)="onRightClick(i, j)">
          {{viewModel[i][j]}}
          <div *ngIf="minesInfo.mines[i][j].flagged" class="{{flaggedClass}}"></div>
        </th>
        </tr>
    </table>
  </div>

</div>

<div class="row m-3" *ngIf="isGameOver">
<!-- <div class="row mx-auto m-3"> -->
    <div class="col-6">
      <div class="alert alert-danger pull-right">
        {{gameoverText}}
      </div>
    </div>
    <div class="col-6">
      <button class="btn btn-primary pull-left m-2" (click)="restartGame()">Restart</button>
    </div>
</div>